.msg{id: dom_id(message)}
  %p
    - if current_user == message.user
      = "#{message.user.name}:"
    - else
      = link_to "#{message.user.name}:", message.user

    = message.text

  - if message.created_at != message.updated_at
    %i= message.updated_at.strftime(" (editado às %H:%M:%S)")

  %i= message.created_at.strftime("%H:%M:%S")

  - if (message.user == current_user && (Time.current - message.created_at) < 1.hour) || current_user.admin
    = link_to 'Editar', edit_message_path(message)
    = link_to 'Remover', message_path(message), data: {turbo_method: :delete}
